/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";


html {
     width: 100%;
     height: 100%;
     background: #114B5F;
 }
 .outerbackground {
   background: #114B5F;
 }

 .trimform {
   background-color: #456990;
   padding: 2%;
   margin-top: 3em;
   margin-right: 53%;
   margin-left: 3em;
   font-family: "MuseoSans-500";
 }
 @font-face {
     font-family: "MuseoSans-500";
 }
 .form-control {
   font-family: "MuseoSans-500";
   background-color: #F45B69;
   color: white;
 }

 .btn-primary {
   font-family: "MuseoSans-500";
 }

 .trimfield {
   background-color: #E4FDE1;
   color: #6BADAC;
 }

 .trimsubmit {
   background-color: #F45B69;
   color: white;
   border-color: #F45B69;
 }

 .row {
   display: flex;
   margin-left: 0.1em;
   margin-right: 0.1em;
 }

 .col-form-label {
   color: white;
 }


 .tilter {
 	position: relative;
 	display: block;
 	flex: none;
 	width: 300px;
 	height: 415px;
 	margin: 1.5em 2.5em;
 	color: #fff;
 	perspective: 1000px;
 }

 .tilter * {
 	pointer-events: none;
 }

 .tilter:hover,
 .tilter:focus {
 	color: #fff;
 	outline: none;
 }

 .tilter__figure,
 .tilter__image {
 	display: block;
 	width: 100%;
 	height: 100%;
 	margin: 0;
 }

 .tilter__figure > * {
 	transform: translateZ(0px); /* Force correct stacking order */
 }

 .tilter__figure {
 	position: relative;
 }

 .tilter__figure::before {
 	content: '';
 	position: absolute;
 	top: 5%;
 	left: 5%;
 	width: 90%;
 	height: 90%;
 	box-shadow: 0 30px 20px rgba(35,32,39,0.5);
 }

 .tilter__deco {
 	position: absolute;
 	top: 0;
 	left: 0;
 	overflow: hidden;
 	width: 100%;
 	height: 100%;
 }

 .tilter__deco--overlay {
 	background-image: linear-gradient(45deg, rgba(226, 60, 99, 0.4), rgba(145, 58, 252, 0.4), rgba(16, 11, 192, 0.4));
 }

 .tilter__deco--shine div {
 	position: absolute;
 	top: -50%;
 	left: -50%;
 	width: 200%;
 	height: 200%;
 	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
 }

 .tilter__deco--lines {
 	fill: none;
 	stroke: #fff;
 	stroke-width: 1.5px;
 }

 .tilter__caption {
 	position: absolute;
 	bottom: 0;
 	width: 100%;
 	padding: 4em;
 }

 .tilter__title {
 	font-family: 'Abril Fatface', serif;
 	font-size: 2.5em;
 	font-weight: normal;
 	line-height: 1;
 	margin: 0;
 }

 .tilter__description {
 	font-size: 0.85em;
 	margin: 1em 0 0 0;
 	letter-spacing: 0.15em;
 }
